
<div class="container">
  

            <!-- Dashboard Content Begin -->
            <main class="form-signin">
              <form>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" [(ngModel)]="user.username" id="username">
                  </div>
                  <div class="col">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" [(ngModel)]="user.password" id="password">
                  </div>
                </div>
            
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <a  href="javascript:void(0);"><button class="w-100 btn btn-lg btn-danger" type="submit" (click)="onClick()">Next</button></a>
                <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

                <p>
                    username = Tshepho <br />
                    password = Phala <br />
                </p>
              </form>
            </main>
          <!-- Dashboard Content End -->

</div>