<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img [src]="pic1" class="d-block mx-lg-auto img-fluid" alt="tech Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About us</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptatem ducimus? Ex reiciendis perspiciatis numquam minima repudiandae hic voluptate earum, aliquid doloribus ad provident ab incidunt quasi voluptatem? Expedita natus recusandae a dolorem fugiat eum temporibus? Illo voluptate, quas tempore quod laborum eos accusantium minus, nulla perspiciatis quo culpa totam ut debitis. Asperiores, amet laudantium.</p>
        
      </div>
    </div>
  </div>
