
<main>
<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Technology our lives</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>      <div>
        <h4 class="fw-bold mb-0">How technology has made impact with directions</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quos iusto culpa repudiandae obcaecati voluptate corporis perferendis, nemo, praesentium modi at magni voluptates cumque deleniti delectus assumenda harum dicta vitae minus dignissimos ipsam hic inventore. Quidem aperiam incidunt tenetur maxime dignissimos pariatur voluptatibus numquam, repudiandae nesciunt quos iste qui quam!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Technology equipment</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam sapiente qui incidunt iure velit nulla. Sapiente qui saepe ullam id assumenda vel voluptate quos placeat illum? Quo praesentium officia eligendi expedita deleniti, placeat dicta aliquam fugit? Aperiam aspernatur placeat hic nulla ipsum voluptates rem pariatur.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Appointment with technlogy</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur culpa eveniet, placeat possimus voluptatibus dignissimos velit magnam! Fuga perspiciatis corporis deleniti minima vitae, modi quis dolorem quasi officiis laboriosam obcaecati mollitia tempora tempore libero? Fugit, aperiam possimus qui ipsam adipisci consectetur facilis! Obcaecati minima nam enim ut quae impedit modi alias facere voluptate adipisci!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Smart houses</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolorum repellat sit cum ipsum odit minus incidunt, facere perspiciatis quisquam eaque! Adipisci neque unde nam perferendis quas eveniet in fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quibusdam, voluptatem tempora nobis saepe perferendis iusto nam excepturi mollitia ipsum debitis impedit ipsam numquam dolorum asperiores nisi! Eaque, totam quos!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
      <div>
        <h4 class="fw-bold mb-0">What technology has done</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam accusamus vel odio cupiditate animi dicta quis maxime, ex reiciendis, quos sequi tenetur amet. Impedit rem dolorem saepe. Ducimus illo tenetur, iusto totam quos, explicabo obcaecati temporibus vitae amet impedit voluptate. Itaque iste sapiente quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, enim.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Technology movement</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum quaerat sunt natus ipsa porro esse debitis autem suscipit ipsum. Beatae commodi distinctio nesciunt illum, alias quisquam soluta at. Est in sapiente aliquam, et perspiciatis iste eaque optio nihil error, modi voluptatum, quia rerum sit aut consequuntur. Non, ex saepe?</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Location in technology</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere id fugit cumque odio animi et similique iusto ipsam rerum deserunt, quaerat a fugiat, perspiciatis voluptas, blanditiis quasi esse. Dolorem laborum aspernatur quia nesciunt repellat minima molestias neque obcaecati quae voluptate repellendus fugiat, ea doloribus atque aperiam fuga similique.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Services with technology</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nihil unde dolor obcaecati modi? Consequuntur, praesentium aliquam! Non neque eius incidunt natus impedit maiores omnis nam, sed veniam ipsam totam, cumque exercitationem ut maxime necessitatibus harum optio praesentium nihil, dolorum consequatur tenetur! Qui ad recusandae perferendis esse illo expedita quibusdam, alias facere est eaque id!</p>
      </div>
    </div>
  </div>
</div>
</main>

