
<header>

<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Technology as a whole</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aliquam inventore officiis error ab, quidem sequi eveniet omnis aspernatur illum assumenda impedit enim tenetur obcaecati quis recusandae, fugiat porro soluta..</p>
      <p class="images">
        <img [src]="pic1">
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic2">
          <div class="card-body">
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem odit id enim, rem architecto adipisci quibusdam. Ab officiis error commodi ipsum eaque non, maxime praesentium expedita, quae aliquam nisi dicta? Mollitia quis quae animi explicabo, deleniti iste saepe libero illo tenetur reiciendis eos sapiente!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ipsa, mollitia inventore consectetur facere accusantium eos iure dolor! Iste blanditiis culpa, nulla eius repellendus cum quo dicta delectus odit laudantium?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic3">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nobis magni ab itaque pariatur modi officia quas. Magnam alias temporibus distinctio voluptatibus, deserunt magni. Maiores, labore! Ipsa inventore reiciendis vel eum error maiores debitis officia in quo recusandae explicabo pariatur, tempora esse dolor alias cumque!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis placeat eum dolorum provident at labore nostrum aperiam harum, debitis corporis aut alias.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic">;

          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem dolor consectetur veritatis laudantium assumenda provident perferendis vero nihil eligendi quidem aperiam quia, qui quaerat beatae deserunt impedit sed aliquid alias aut praesentium placeat quibusdam exercitationem porro. Rem tempora praesentium doloremque ipsa voluptas quidem!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptas laudantium sunt. Laudantium sequi, error voluptates molestiae exercitationem facere. Labore, iste quod. Impedit, ad quam! Itaque laborum rerum iure perspiciatis!
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic3">

          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit totam, harum natus corporis deserunt ab mollitia numquam molestiae officiis commodi, debitis id. Minima voluptatum odio repellat minus temporibus nobis libero quasi dolor autem doloremque soluta itaque fugit veniam necessitatibus dicta quibusdam, quo eius!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas earum soluta aperiam aliquam sunt! Minus ea laboriosam sequi explicabo ut delectus reiciendis sint incidunt et omnis, consequuntur, cupiditate iure ullam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic5">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, similique atque. Reiciendis veniam facilis quis earum, voluptatum voluptatem commodi quisquam rem eos modi ex obcaecati vitae iste numquam perferendis, animi deleniti exercitationem sit?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <p>
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam ratione vel saepe. Suscipit praesentium qui eveniet magni quasi numquam explicabo ad. Voluptate minima aut hic nam dolores unde ratione.
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic4">

          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ullam, cupiditate laboriosam explicabo eaque sequi ab eius velit inventore vero dignissimos odit iusto, quaerat hic quidem assumenda voluptatum est incidunt nisi sint aspernatur in veritatis nemo! Ipsa accusantium vitae tenetur obcaecati voluptatibus nam facere.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eveniet itaque necessitatibus, minus molestiae asperiores soluta distinctio exercitationem officiis, nostrum, voluptatem praesentium! Necessitatibus minus velit et veniam saepe dicta aliquid?
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>